{% extends "layout.html" %}
{% from "_render_elements.html" import render_field %}
{% block content %}
<h1 class="text-center mt-4">Edit Task</h1>
<div class="container-sm row bg-light mx-auto mt-3 py-3 card" style="max-width: 800px">
    <form action="{{ url_for('tasks_bp.task_edit', task_id=task_id) }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="col-12 mt-1">
            {{ render_field(form.title) }}
        </div>

        <div class="col-12 col-sm-12 mt-1">
            {{ render_field(form.description) }}
        </div>

        <div class="d-grid mt-3 mb-2">
            {{ form.submit(class_="btn btn-primary") }} 
        </div>

    </form>
</div>
{% endblock content %}