{% from "_render_elements.html" import render_messages %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ title_page }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  </head>

  <body style="background: #ededed">
    <!-- HEADER -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container px-4">
          <a class="navbar-brand fs-3" href="{{ url_for('tasks_bp.tasks') }}">TODO APP</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="fs-6 btn btn-success mx-1" aria-current="page" href="{{ url_for('tasks_bp.task_new') }}">New Task</a>
              </li>
              <li class="nav-item">
                <a class="fs-6 btn btn-danger mx-1" aria-current="page" href="{{ url_for('auth_bp.logout') }}">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link fs-6 {% if active == 'login' %} active {% endif %}" aria-current="page" href="{{ url_for('auth_bp.login') }}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fs-6 {% if active == 'signup' %} active {% endif %}" aria-current="page" href="{{ url_for('auth_bp.signup') }}">Sign Up</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="container py-3">
      <!--TODO cambiar el diseño por los toasts-->
      {{ render_messages(messages) }}
      {% block content %}
      {% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
